<h1>Welcome to <%= @crm_app_name %></h1>
<h2>Main menu</h2>
<ul>
<p><a href="/contacts">Add new contact</a></p>
<p><a href="/modify">Modify an existing contact</a></p>
<p><a href="/delete">Delete a contact</a></p>
<p><a href="/display">Display all the contacts</a></p>
<p><a href="/attribute">Display an attribute</a></p>
</ul>
