<!DOCTYPE html>
	
	<html>
		<head>
			<link rel="stylesheet" type="text/css" href="./style.css">

				<title>
				Customer Relationship Application

				</title>
		</head>
				
			<nav>
				<li><a href="/">Home</a></li>
				
			


			</nav>

				<body>
	
				<%= yield %>

				<div id="wrapper">
							<div id="header"></div>
							<div id="content"></div>
							<div id="footer"></div>
							</div>









				</body>

				<footer>
					This dope CRM is made by the hella cool SHEMCA!

				</footer>
	</html>

